<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/tailwind.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
    <div class="flex justify-start items-center h-screen w-screen p-7">
        <!-- Sidebar -->
        <div
            class="flex flex-col items-center justify-between bg-white rounded-3xl py-14 w-[154px] shadow shadow-red mr-5 h-full">
            <div class="flex flex-col items-center justify-start w-full">
                <div class="p-1 rounded-full bg-gradient-to-b from-red to-orange mb-12">
                    <img th:src="@{/assets/img/nav-profile.png}" alt="nav-profile">
                </div>

                <div class="flex flex-col items-center justify-center w-full">
                    <a href="/" class="w-full py-6">
                        <img th:src="@{/assets/icon/home.png}" alt="home" class="mx-auto">
                    </a>
                    <a th:href="@{/chat}" class="w-full py-6 bg-gradient-to-b from-[#DADADA] to-white">
                        <img th:src="@{/assets/icon/chat.png}" alt="chat" class="mx-auto">
                    </a>
                    <a th:href="@{/channel?type=class}" class="w-full py-6">
                        <img th:src="@{/assets/icon/channel.png}" alt="channel" class="mx-auto">
                    </a>
                </div>

            </div>
            <a href="/logout" class="cursor-pointer">
                <img src="/assets/icon/logout.png" alt="logout">
            </a>
        </div>
        <!-- End Sidebar -->

        <div class="grid grid-cols-7 gap-5 w-full h-full">
            <div class="col-span-2 grid grid-rows-5 gap-3 w-full h-full">
                <!-- Group Card -->
                <div th:if="${'MAHASISWA'.equals(user.getRole())}" class="row-span-2 h-full">
                    <div class="bg-white rounded-3xl p-2 shadow shadow-pink h-full overflow-y-auto">
                        <div class="flex flex-col items-center justify-start h-full">
                            <div
                                class="flex items-center justify-between w-full mb-6 bg-gradient-to-b from-primary to-dark-red px-7 py-3 rounded-full">
                                <p class="text-white text-20">Groups</p>
                                <img src="/assets/icon/option.png" alt="option">
                            </div>
                            <div class="px-7 w-full">
                                <!-- Group Item -->
                                <a th:href="@{/chat(group_id=${group.getId()})}" th:each="group : ${groups}"
                                    class="flex items-center justify-start w-full mb-7">
                                    <img th:src="${group.getLogo()}" th:alt="${group.getGroup_name()}"
                                        class="shadow rounded-full mr-2">
                                    <div class="py-7 rounded-3xl shadow text-center w-full">
                                        <p class="font-bold text-20" th:text="${group.getGroup_name()}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Channel Card -->
                <div class="row-span-1 h-full">

                    <div class="bg-white rounded-3xl p-2 shadow shadow-pink h-full">
                        <div class="flex flex-col items-center justify-start h-full">
                            <div
                                class="flex items-center justify-between w-full mb-6 bg-gradient-to-b from-primary to-dark-red px-7 py-3 rounded-full">
                                <p class="text-white text-20">Channels</p>
                                <img src="/assets/icon/option.png" alt="option">
                            </div>
                            <div class="grid grid-cols-4 gap-x-4 gap-y-6">

                                <!-- Class Items -->
                                <!-- MAHASISWA -->
                                <a onclick="connect()" th:if="${#strings.equals(user.getRole(), 'MAHASISWA')}"
                                    th:href="@{/chat(class_channel_id=${userClassChannel.getClassChannel().getId()})}"
                                    th:each="userClassChannel : ${userClassChannels}"
                                    class="channelItem flex flex-col items-center justify-start text-center">
                                    <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                        <img th:src="${userClassChannel.getClassChannel().getLogo()}" alt=""
                                            class="h-[70px] w-[70px]">
                                    </div>
                                    <p class="font-medium text-16"
                                        th:text="${userClassChannel.getClassChannel().getClass_name()}"></p>
                                </a>
                                <!-- DOSEN -->
                                <a onclick="connect()" th:if="${#strings.equals(user.getRole(), 'DOSEN')}"
                                    th:href="@{/chat(class_channel_id=${dosenClassChannel.getId()})}"
                                    th:each="dosenClassChannel : ${dosenClassChannels}"
                                    class="channelItem flex flex-col items-center justify-start text-center">
                                    <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                        <img th:src="${dosenClassChannel.getLogo()}" alt="" class="h-[70px] w-[70px]">
                                    </div>
                                    <p class="font-medium text-16" th:text="${dosenClassChannel.getClass_name()}"></p>
                                </a>

                                <!-- Ormawa Items -->
                                <a onclick="connect()"
                                    th:href="@{/chat(ormawa_channel_id=${userOrmawaChannel.getOrmawaChannel().getId()})}"
                                    th:each="userOrmawaChannel : ${userOrmawaChannels}"
                                    class="channelItem flex flex-col items-center justify-start text-center">
                                    <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                        <img th:src="${userOrmawaChannel.getOrmawaChannel().getOrmawa().getLogo()}"
                                            alt="" class="h-[70px] w-[70px]">
                                    </div>
                                    <p class="font-medium text-16"
                                        th:text="${userOrmawaChannel.getOrmawaChannel().getChannel_name()}"></p>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Personal Chat Card -->
                <div th:classappend="${'DOSEN'.equals(user.getRole())} ? 'row-span-4' : 'row-span-2'" class="h-full">
                    <div class="bg-white rounded-3xl p-2 shadow shadow-pink h-full">
                        <div class="flex flex-col items-center justify-start h-full">
                            <div
                                class="flex items-center justify-between w-full mb-6 bg-gradient-to-b from-primary to-dark-red px-7 py-3 rounded-full">
                                <p class="text-white text-20">Personal</p>
                                <img src="/assets/icon/option.png" alt="option">
                            </div>
                            <div class="px-7 w-full">
                                <!-- Group Card -->
                                <a th:href="@{/chat(user_id=${contact.getId()})}" th:each="contact : ${userContacts}"
                                    class="flex items-center justify-start w-full mb-7">
                                    <img src="/assets/img/groups/telu.png" alt="telu" class="shadow rounded-full mr-2">
                                    <div class="py-7 rounded-3xl shadow text-center w-full">
                                        <p class="font-bold text-20" th:text="${contact.getName()}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat Section -->
            <div th:if="${param.group_id != null or param.class_channel_id != null or param.ormawa_channel_id != null or param.user_id != null}"
                class="col-span-5 h-full overflow-y-auto">
                <div class="bg-white rounded-3xl px-10 pt-6 pb-10 shadow shadow-pink h-full">
                    <div class="flex flex-col items-center justify-between h-full">

                        <!-- Card Header -->
                        <div
                            class="flex items-center justify-between w-full mb-6 bg-gradient-to-b from-primary to-dark-red px-6 py-3 rounded-3xl">
                            <img th:src="${chatHeaderLogo}" alt="avatar-1" class="mr-6">
                            <!-- <img src="../../assets/img/chats/avatar-1.png" alt="avatar-1" class="mr-6"> -->
                            <div class="flex flex-col items-start justify-center w-full">
                                <p th:text="${chatHeaderName}" class="font-bold text-white text-30"></p>
                                <!-- <p class="text-white text-16">Online</p> -->
                            </div>
                            <img src="/assets/icon/option.png" alt="option">
                        </div>

                        <!-- Chat Section -->
                        <div class="flex flex-col items-center justify-between w-full h-full overflow-y-auto">
                            <!-- <div class="bg-main-grey px-7 py-2 rounded-full font-semibold text-16 mb-8">
                                Today
                            </div> -->

                            <!-- Chat Baloon -->
                            <!-- <div th:each="classChannelChat : ${classChannelChats}" class="self-end mb-10">
                                <div class="rounded-2xl rounded-tr-none bg-[#AA0000] text-white p-4 mb-1">
                                    <p th:text="${classChannelChat.message}"></p>
                                </div>
                                <p class="text-right">9.20 AM</p>
                            </div> -->

                            <!-- Group Chat -->
                            <div th:if="${param.group_id != null}" th:each="groupChat : ${groupChats}"
                                class="self-start mb-10 w-1/3">
                                <div class="rounded-2xl rounded-tl-none bg-main-grey p-4 mb-1">
                                    <p th:text="${groupChat.message}"></p>
                                </div>
                                <p class="text-left">9.23 AM</p>
                            </div>

                            <!-- Class Channel Chat -->
                            <div th:if="${param.class_channel_id != null && classChannelChats.size() > 0}"
                                th:each="classChannelChat : ${classChannelChats}" class="self-start mb-10">
                                <div class="rounded-2xl rounded-tl-none bg-main-grey p-4 mb-1">
                                    <!-- <p>I am great, Thanks!</p> -->
                                    <p th:text="${classChannelChat.message}"></p>
                                </div>
                                <p class="text-left">9.23 AM</p>
                            </div>
                            <div th:if="${param.class_channel_id != null and classChannelChats.size() == 0}"
                                class="flex flex-col items-center justify-center h-full">
                                <p class="text-center">No Message</p>
                            </div>

                            <!-- Ormawa Channel Chat -->
                            <div th:if="${param.ormawa_channel_id != null}"
                                th:each="ormawaChannelChat : ${ormawaChannelChats}" class="self-start mb-10">
                                <div class="rounded-2xl rounded-tl-none bg-main-grey p-4 mb-1">
                                    <p th:text="${ormawaChannelChat.message}"></p>
                                </div>
                                <p class="text-left">9.23 AM</p>
                            </div>

                            <!-- Perconal Chat -->
                            <div th:if="${param.user_id != null and personalChats.size() > 0}"
                                th:each="personalChat : ${personalChats}" class="mb-10"
                                th:classappend="${#strings.equals(personalChat.getReceiver().getId(), param.user_id)} ? 'self-end text-right' : 'self-start text-left'">
                                <div class="rounded-2xl rounded-tl-none bg-main-grey p-4 mb-1">
                                    <p th:text="${personalChat.message}"></p>
                                </div>
                                <p class="" th:text="${personalChat.getFormattedTime()}"></p>
                            </div>
                            <div th:if="${param.user_id != null and personalChats.size() == 0}"
                                class="flex flex-col items-center justify-center h-full">
                                <p class="text-center">No Message</p>
                            </div>

                            <!-- Message Input Field -->
                            <form th:if="${is_able_to_chat}" action="/chat" method="post"
                                class="flex items-center justify-between w-full">
                                <input type="text" name="user_id" th:value="${param.user_id}" hidden>
                                <input name="message" type="text" placeholder="Enter Your Message"
                                    class="message text-black p-7 bg-[#F2F2F2] w-full rounded-3xl mr-4 focus:outline-none">
                                <!-- <input type="text" name="group_id" th:value="${param.class_channel_id != null ? param.class_channel_id : param.ormawa_channel_id}" hidden> -->
                                <button type="submit" id="sendMessage" onclick="send()"
                                    class="flex items-center justify-center bg-[#F2F2F2] h-full p-4 px-6 rounded-2xl">
                                    <img src="../../assets/icon/send.png" alt="send" class="hover:scale-110">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${param.group_id == null and param.ormawa_channel_id == null and param.class_channel_id == null and param.user_id == null}"
                class="col-span-5 flex flex-col items-center justify-center w-full h-full">
                <p>Pilih Chat Terlebih dahulu</p>
            </div>
        </div>
    </div>
</body>

</html>