<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/tailwind.js}"></script>
</head>

<body>
    <div class="flex justify-center items-center h-screen w-screen p-7">
        <!-- Sidebar -->
        <div
            class="flex flex-col items-center justify-between bg-white rounded-3xl py-14 w-[154px] shadow shadow-red mr-5 h-full">
            <div class="flex flex-col items-center justify-start w-full">
                <div class="p-1 rounded-full bg-gradient-to-b from-red to-orange mb-12">
                    <img th:src="@{/assets/img/nav-profile.png}" alt="nav-profile">
                </div>

                <div class="flex flex-col items-center justify-center w-full">
                    <a href="/" class="w-full py-6">
                        <img th:src="@{/assets/icon/home.png}" alt="home" class="mx-auto">
                    </a>
                    <a th:href="@{/chat}" class="w-full py-6">
                        <img th:src="@{/assets/icon/chat.png}" alt="chat" class="mx-auto">
                    </a>
                    <a th:href="@{/channel?type=class}" class="w-full py-6 bg-gradient-to-b from-[#DADADA] to-white">
                        <img th:src="@{/assets/icon/channel.png}" alt="channel" class="mx-auto">
                    </a>
                    <!-- <a th:if="${'MAHASISWA'.equals(user.getRole())}" th:href="@{/helpdesk}" class="w-full py-6">
                        <img th:src="@{/assets/icon/helpdesk.png}" alt="helpdesk" class="mx-auto">
                    </a> -->
                </div>

            </div>
            <a href="/logout" class="cursor-pointer">
                <img src="/assets/icon/logout.png" alt="logout">
            </a>
        </div>
        <!-- End Sidebar -->

        <div class="bg-white rounded-3xl shadow shadow-pink h-full w-full px-10 pt-6 pb-10">
            <div class="flex flex-col items-center justify-start h-full">
                <!-- Card Header -->
                <div
                    class="flex items-center justify-between w-full bg-gradient-to-b from-primary to-dark-red px-6 py-3 rounded-3xl mb-[64px]">
                    <p class="text-white text-40 font-bold w-full text-center">Helpdesk TelCommunity</p>
                    <img src="/assets/icon/option.png" alt="option">
                </div>
                <div th:if="${param.confirmation == null}" class="flex flex-col items-center justify-center mx-auto my-auto">
                    <a href="/helpdesk?confirmation=1" class="rounded-full text-center text-white bg-primary text-40 w-[700px] py-5 mb-12">Konfirmasi Ketua Ormawa</a>
                    <a href="https://wa.me/+6281358282255" target="_blank" class="text-center rounded-full text-white bg-green-500 text-40 w-[700px] py-5">Hubungi Kami</a>
                </div>

                <div th:if="${param.confirmation}" class="flex flex-col items-stretch justify-between h-full w-full">
                    <form action="/helpdesk" method="post" class="flex flex-col items-center justify-between h-full">
                        <div class="flex flex-col items-center justify-start w-full">
                            <div class="flex flex-col items-start justify-start mb-10 w-full">
                                <label for="ormawa_name" class="font-medium text-36 mb-5">Nama Ormawa :</label>
                                <input name="ormawa_name" id="ormawa_name" type="text" class="rounded-full shadow text-32 shadow-red-500 w-[566px] h-[80px] px-4">
                            </div>
                            <div class="flex flex-col items-start justify-start mb-10 w-full">
                                <label for="category" class="font-medium text-36 mb-5">Kategori :</label>
                                <input name="category" id="category" type="text" class="rounded-full shadow text-32 shadow-red-500 w-[566px] h-[80px] px-4">
                            </div>
                        </div>
                        <button type="submit" class="rounded-full bg-primary text-white font-normal text-24 w-[400px] h-[80px] py-5 mx-auto">Konfirmasi</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>