<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/tailwind.js}"></script>
</head>

<body>
    <div class="flex justify-center items-center h-screen w-screen p-7">
        <!-- Sidebar -->
        <div
            class="flex flex-col items-center justify-between bg-white rounded-3xl py-14 w-[154px] shadow shadow-red mr-5 h-full">
            <div class="flex flex-col items-center justify-start w-full">
                <div class="p-1 rounded-full bg-gradient-to-b from-red to-orange mb-12">
                    <img th:src="@{/assets/img/nav-profile.png}" alt="nav-profile">
                </div>

                <div class="flex flex-col items-center justify-center w-full">
                    <a th:href="${index}" class="w-full py-6 bg-gradient-to-b from-[#DADADA] to-white">
                        <img th:src="@{/assets/icon/home.png}" alt="home" class="mx-auto">
                    </a>
                    <a th:href="@{/chat}" class="w-full py-6">
                        <img th:src="@{/assets/icon/chat.png}" alt="chat" class="mx-auto">
                    </a>
                    <a th:href="@{/channel?type=class}" class="w-full py-6">
                        <img th:src="@{/assets/icon/channel.png}" alt="channel" class="mx-auto">
                    </a>
                    <a th:if="${'MAHASISWA'.equals(user.getRole())}" th:href="@{/helpdesk}" class="w-full py-6">
                        <img th:src="@{/assets/icon/helpdesk.png}" alt="helpdesk" class="mx-auto">
                    </a>
                </div>

            </div>
            <a href="/logout" class="cursor-pointer">
                <img src="/assets/icon/logout.png" alt="logout">
            </a>
        </div>

        <!-- End Sidebar -->

        <div class="grid grid-cols-7 gap-5 w-full h-full">
            <div class="col-span-2 grid grid-rows-2 gap-6 w-full h-full">
                <div th:if="${'MAHASISWA'.equals(user.getRole())}" class="h-full">
                    <div class="bg-white rounded-3xl p-2 pb-0 shadow shadow-pink h-full">
                        <div class="flex flex-col items-center justify-start h-full">
                            <div
                                class="flex items-center justify-between w-full mb-6 bg-gradient-to-b from-primary to-dark-red px-7 py-3 rounded-full">
                                <p class="text-white text-20">Groups</p>
                                <img src="/assets/icon/option.png" alt="option">
                            </div>
                            <div class="px-7 w-full">
                                <!-- Group Card -->
                                <a th:href="@{/chat(group_id=${group.getId()})}" th:each="group : ${groups}"
                                    class="flex items-center justify-start w-full mb-7">
                                    <img th:src="${group.logo}" alt="telu" class="shadow rounded-full mr-2">
                                    <div class="py-7 rounded-3xl shadow text-center w-full">
                                        <p class="font-bold text-20" th:text="${group.group_name}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:classappend="${'DOSEN'.equals(user.getRole())} ? 'row-span-2' : ''" class="h-full">
                    <div class="bg-white rounded-3xl p-2 shadow shadow-pink h-full">
                        <div class="flex flex-col items-center justify-start h-full">
                            <div
                                class="flex items-center justify-between w-full mb-6 bg-gradient-to-b from-primary to-dark-red px-7 py-3 rounded-full">
                                <p class="text-white text-20">Recently Chatted</p>
                                <img src="/assets/icon/option.png" alt="option">
                            </div>
                            <div class="px-7 w-full">
                                <!-- Recent Chat Card -->
                                <a th:href="${'chat?user_id=' + recentChat.getReceiver().getId()}" th:each="recentChat : ${recentChats}" class="flex items-center justify-start w-full mb-7">
                                    <img src="/assets/img/groups/telu.png" alt="telu" class="shadow rounded-full mr-2">
                                    <div class="py-7 rounded-3xl shadow text-center w-full">
                                        <p class="font-bold text-20" th:text="${recentChat.getReceiver().getName()}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-3">
                <!-- <div class=""> -->
                <div class="bg-white rounded-3xl shadow shadow-pink h-full p-5">
                    <div class="flex flex-col items-center justify-start h-full">
                        <!-- Header -->
                        <div
                            class="flex items-center justify-between rounded-full bg-gradient-to-b from-primary to-dark-red w-full px-7 py-3 mb-6">
                            <p class="text-white text-30">Channels</p>
                            <img src="/assets/icon/option.png" alt="option">
                        </div>

                        <div class="grid grid-rows-2 gap-6 w-full h-full">
                            <!-- Classes -->
                            <div class="w-full">
                                <div class="w-full mb-6">
                                    <p class="text-secondary-grey font-bold text-24 mx-2">CLASS</p>
                                    <hr class="w-full border-2">
                                </div>
                                <div class="grid grid-cols-5 gap-x-4 gap-y-6">

                                    <!-- Class Item -->
                                    <a th:if="${#strings.equals(user.getRole, 'MAHASISWA')}"
                                        th:href="@{/chat(class_channel_id=${userClassChannel.getClassChannel().getId()})}"
                                        th:each="userClassChannel : ${userClassChannels}"
                                        class="flex flex-col items-center justify-start text-center hover:cursor-pointer">
                                        <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                            <img th:src="${userClassChannel.getClassChannel().getLogo()}" alt=""
                                                class="h-[70px] w-[70px]">
                                        </div>
                                        <p class="font-medium text-16"
                                            th:text="${userClassChannel.getClassChannel().getClass_name()}"></p>
                                    </a>
                                    <a th:if="${#strings.equals(user.getRole, 'DOSEN')}"
                                        th:href="@{/chat(class_channel_id=${dosenClassChannel.getId()})}"
                                        th:each="dosenClassChannel : ${dosenClassChannels}"
                                        class="flex flex-col items-center justify-start text-center hover:cursor-pointer">
                                        <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                            <img th:src="${dosenClassChannel.getLogo()}" alt=""
                                                class="h-[70px] w-[70px]">
                                        </div>
                                        <p class="font-medium text-16" th:text="${dosenClassChannel.getClass_name()}">
                                        </p>
                                    </a>
                                    <a href="/add-class">
                                        <div
                                            class="flex flex-col items-center justify-start text-center cursor-pointer">
                                            <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                                <div
                                                    class="rounded-full bg-white flex items-center justify-center h-[70px] w-[70px]">
                                                    <img src="/assets/icon/plus.png" alt="plus">
                                                </div>
                                            </div>
                                            <p class="font-medium text-16 mx-auto">+ ADD CLASS</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Ormawa -->
                            <div th:if="${#strings.equals(user.getRole, 'MAHASISWA')}" class="w-full">
                                <div class="w-full mb-6">
                                    <p class="text-secondary-grey font-bold text-24 mx-2">ORMAWA</p>
                                    <hr class="w-full border-2">
                                </div>
                                <div class="grid grid-cols-5 gap-x-4 gap-y-6">
                                    <!-- Ormawa Item -->
                                    <a th:href="@{/chat(ormawa_channel_id=${userOrmawaChannel.getOrmawaChannel().getId()})}"
                                        th:each="userOrmawaChannel : ${userOrmawaChannels}"
                                        class="flex flex-col items-center justify-start text-center hover:cursor-pointer">
                                        <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                            <img th:src="${userOrmawaChannel.getOrmawaChannel().getOrmawa().getLogo()}"
                                                alt="" class="h-[70px] w-[70px]">
                                        </div>
                                        <p class="font-medium text-16"
                                            th:text="${userOrmawaChannel.getOrmawaChannel().getChannel_name()}"></p>
                                    </a>
                                    <a href="/add-ormawa" class="flex flex-col items-center justify-start text-center">
                                        <div class="bg-gradient-to-b from-orange to-red rounded-full p-[3px] mb-2">
                                            <div
                                                class="rounded-full bg-white flex items-center justify-center h-[70px] w-[70px]">
                                                <img src="/assets/icon/plus.png" alt="plus">
                                            </div>
                                        </div>
                                        <p class="font-medium text-16 mx-auto">+ ORMAWA</p>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>